<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layouts | Float</title>
  <link rel="stylesheet" href="./../css/style.css">
  <link rel="stylesheet" href="./../css/float.css">
  <link rel="shortcut icon" href="./../img/favicon.png" type="image/x-icon">
</head>
<body>
  <header class="nav">
    <div class="nav-container container">
      <div class="nav-primary">
        <div class="logo">
          <a href="./../index.html">Layouts</a>
        </div>
      </div>    
      <div class="nav-secondary">
        <nav class="nav-list">
          <ul>
            <li><a href="./../index.html">Grid</a></li>
            <li><a href="./flexbox.html">Flexbox</a></li>
            <li><a href="./float.html">Float</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    <section class="banner">
      <h2>twenty øne piløts</h2>
      <h3>Scaled and Icy</h3>
      <p><time datetime="2021-05-21">May 21, 2021</time>
    </section>
  </div>
  <div class="wrap">
    <main class="container">
      <div class="box">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim eos, architecto asperiores natus reiciendis velit exercitationem sunt tenetur at rem, obcaecati minus? Eligendi cupiditate vitae nemo, consectetur atque assumenda!</p>
      </div>
      <div class="box">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim eos, architecto asperiores natus reiciendis velit exercitationem sunt tenetur at rem, obcaecati minus? Eligendi cupiditate vitae nemo, consectetur atque assumenda!</p>
      </div>
      <div class="box">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim eos, architecto asperiores natus reiciendis velit exercitationem sunt tenetur at rem, obcaecati minus? Eligendi cupiditate vitae nemo, consectetur atque assumenda!</p>
      </div>
      <div class="box">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim eos, architecto asperiores natus reiciendis velit exercitationem sunt tenetur at rem, obcaecati minus? Eligendi cupiditate vitae nemo, consectetur atque assumenda!</p>
      </div>
    </main>
    <aside class="container">
      <div class="box">
        <h2>Aside</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim eos, architecto asperiores natus reiciendis velit exercitationem sunt tenetur at rem, obcaecati minus? Eligendi cupiditate vitae nemo, consectetur atque assumenda!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim eos, architecto asperiores natus reiciendis velit exercitationem sunt tenetur at rem, obcaecati minus? Eligendi cupiditate vitae nemo, consectetur atque assumenda!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim eos, architecto asperiores natus reiciendis velit exercitationem sunt tenetur at rem, obcaecati minus? Eligendi cupiditate vitae nemo, consectetur atque assumenda!</p>
      </div>
    </aside>
  </div>
  <div class="clearfix"></div>
  <footer>
    <p>Developed by <a href="https://github.com/KhalilaGazal" target="_blank"">Khalila Gazal</a>. Source code on <a href="https://github.com/KhalilaGazal/playground/tree/main/_layouts/layout-1" target="_blank">GitHub</a>.</p>
  </footer>
</body>
</html>